/*
 * @Author: guang.shi 
 * @Date: 2018-12-01 19:23:30 
 * @Last Modified by:   guang.shi 
 * @Last Modified time: 2018-12-01 19:23:30 
 */
*{margin: 0;padding: 0;}
body{
    font-size: 12px;
    line-height: 1.5;
}
.box{
    height: 300px;
    width: 500px;
    box-shadow: 0 5px 0 red;
    background: url('../images/avatar_bg.png') no-repeat center;
}